*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  height: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  gap: 100px;
  padding: 0 50px;
}

.header {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  user-select: none; 
  line-height: 1.5;
  cursor: pointer;
}

.ava{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  left: 560px; 
}

.social-link {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.social-icon {
  width: 50px;
  height: 50px;
}

main {
  position: relative;
  margin: 100px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

